.modal {
    display: ${({ isOpen }) => (isOpen ? 'block' : 'none')};
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1000;
width: calc(100% - 40px); /* Увеличение ширины с учетом отступов */
max-width: 600px;
background: white;
padding: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 8px;
max-height: calc(100% - 40px); /* Добавлены отступы сверху и снизу */
overflow-y: auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.modal-body {
    font-size: 16px;
    line-height: 1.6;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
