.login-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    height: 50vh;
    color: white;
    background: lightslategray;
    border-radius: 16px;
    padding: 30px 20px;
}

.login-container h1{
    color: #242424;
    font-family: sans-serif;
    font-style: italic;
}

.inputs-box{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.buttons{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 7%;
}

.login-button-box{
    display: flex;
    text-align: center;
    align-items: center;
    background: #242424;
    border-radius: 16px;
    margin: 10px;
    width: 50%;
}

.login-button{
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 13px;
    background: transparent;
    border: 0;
    outline: 0;
    color: white;
    font-size: 18px;
}

.login-button-box:hover{
    display: flex;
    text-align: center;
    align-items: center;
    background: black;
    border-radius: 16px;
    width: 50%;
}

.register-button-box{
    display: flex;
    text-align: center;
    align-items: center;
    background: darkgray;
    border-radius: 16px;
    width: 50%;

}

.register-button{
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 13px;
    background: transparent;
    border: 0;
    outline: 0;
    color: white;
    font-size: 18px;
}


.register-button-box:hover{
    display: flex;
    text-align: center;
    align-items: center;
    background: dimgrey;
    border-radius: 16px;
    width: 50%;
}

.login-box{
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 16px;
    width: 100%;
    margin-bottom: 7%;

}

.login-box input{
    width: 90%;
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: white;
    font-size: 18px;
}

.email-box{
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 16px;
    width: 100%;
    margin-bottom: 7%;

}

.email-box input{
    width: 90%;
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: white;
    font-size: 18px;
}

.password-box{
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 16px;
    width: 100%;
    margin: auto;
    -webkit-text-security: disc;
    text-security: disc;
}

.password-box input{
    width: 90%;
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: white;
    font-size: 18px;
}